<%
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>
<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>OLSKCollectionDispatchArrow</strong>
	<span id="TestOLSKCollectionDispatchArrow">0</span>
	<span id="TestOLSKCollectionDispatchArrowData">undefined</span>
</p>

<p>
	<strong>OLSKNarrowDispatchFilter</strong>
	<span id="TestOLSKNarrowDispatchFilter">0</span>
	<span id="TestOLSKNarrowDispatchFilterData">undefined</span>
</p>

<p>
	<strong>OLSKNarrowDispatchSubmit</strong>
	<span id="TestOLSKNarrowDispatchSubmit">0</span>
</p>

<input id="TestInputAlternative" />
