<%
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>
<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>OLSKCollectionDispatchArrow</strong>
	<span id="TestOLSKCollectionDispatchArrow">0</span>
	<span id="TestOLSKCollectionDispatchArrowData">undefined</span>
</p>

<p>
	<strong>OLSKMasterListDispatchFilter</strong>
	<span id="TestOLSKMasterListDispatchFilter">0</span>
	<span id="TestOLSKMasterListDispatchFilterData">undefined</span>
</p>

<p>
	<strong>OLSKMasterListDispatchSubmit</strong>
	<span id="TestOLSKMasterListDispatchSubmit">0</span>
</p>

<input id="TestInputAlternative" />
