.OLSKMasterList {
	/* OLSKMasterListFlexbox:Parent */
	display: flex;
	flex-direction: column;
}

.OLSKMasterListToolbar {
	/* OLSKMasterListFlexbox:Child */
	flex-shrink: 0;
}

.OLSKMasterListBody {
	overflow: auto;
	
	/* OLSKMasterListFlexbox:Child */
	flex-grow: 1;
}

:global(.OLSKIsLoading) .OLSKMasterListBody {
	visibility: hidden;
}

.OLSKMasterListBody :global(.OLSKResultsListItemSelected .OLSKMasterListItem) {
	background: #e6e6e6;
}

@media screen and (min-width: 760px) {

.OLSKMasterListFocused :global(.OLSKResultsListItemSelected .OLSKMasterListItem) {
	background: #1a81ff;
	color: white;
}

}
